org: burslf
app: dropit-backend
service: delivery-api
frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.8
  region: us-east-1
  stage: develop
  profile: personal
  environment: ${file(env.${opt:stage, self:provider.stage}.json)}
  iam:
    role:
      statements:
        - Effect: 'Allow'
          Action:
            - 's3:PutObject'
            - 's3:GetObject'
          Resource:
            - '*'

package:
  patterns:
    - '!.env/**'
    - '!node_modules/**'

functions:
  api_resolve_address:
    handler: api_endpoints/api_resolve_address.api_resolve_address
    events:
      - http:
          path: "/resolve-address"
          method: post
          cors: true
    layers:
      - ${file(env.${opt:stage, self:provider.stage}.json):LAMBDA_HANDLER_LAYER_ARN}
