org: burslf
app: dropit-backend
service: delivery-api
frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.8
  region: us-east-1
  stage: develop
  profile: personal
  environment: ${file(env.${opt:stage, self:provider.stage}.json)}
  iam:
    role:
      statements:
        - Effect: 'Allow'
          Action:
            - 's3:PutObject'
            - 's3:GetObject'
          Resource:
            - '*'

package:
  patterns:
    - '!.env/**'
    - '!node_modules/**'

functions:
  api_resolve_address:
    handler: api_endpoints/api_resolve_address.api_resolve_address
    events:
      - http:
          path: "/resolve-address"
          method: post
          cors: true
    layers:
      - ${file(env.${opt:stage, self:provider.stage}.json):LAMBDA_HANDLER_LAYER_ARN}

  api_get_available_timeslots:
    handler: api_endpoints/api_get_timeslots.api_get_timeslots
    events:
      - http:
          path: "/timeslots"
          method: post
          cors: true
    layers:
      - ${file(env.${opt:stage, self:provider.stage}.json):LAMBDA_HANDLER_LAYER_ARN}

  api_book_delivery:
    handler: api_endpoints/api_book_delivery.api_book_delivery
    events:
      - http:
          path: "/deliveries"
          method: post
          cors: true
    layers:
      - ${file(env.${opt:stage, self:provider.stage}.json):LAMBDA_HANDLER_LAYER_ARN}

  api_set_delivery_complete:
    handler: api_endpoints/api_set_delivery_complete.api_set_delivery_complete
    events:
      - http:
          path: "/deliveries/{delivery_id}/complete"
          method: post
          cors: true
          request:
            parameters:
              paths:
                delivery_id: true
    layers:
      - ${file(env.${opt:stage, self:provider.stage}.json):LAMBDA_HANDLER_LAYER_ARN}

